@model List<Cart_detail>
@inject MyDbContext db
@* @{
	var _Item = ViewBag.Id as List<Cart_detail>;
} *@
<h1>Cart Page</h1>
<div class="row">
	<table class="table table-striped table-bordered">
		<thead class="font-weight-bold">
			<tr>
				<td class="b">Option</td>
				<td>Id</td>
				<td>Name</td>
				<td>Price</td>
				<td>Quantity</td>
				<td>Total</td>
			</tr>
		</thead>
		<tbody>

			@foreach (var item in db.Products)
			{

				<tr>
					<td>
						<a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.MaSP"><button type="button" class="btn-close" aria-label="Close"></button></a>
					</td>
					<td>
						@item.MaSP
					</td>
					<td>@item.TenSP</td>
					<td>@item.DonGia</td>
					<td>@item.SoLuong</td>
					<td>@(item.DonGia * item.SoLuong)</td>
				</tr>
				@* <tr class="font-weight-bold">
					<td colspan="5" style=" text-align: right;">Sum</td>
					<td>@db.Products.Where(a => a.MaSP == @item.MaSP).Sum(a => a.DonGia * a.SoLuong).ToString()</td>
				</tr> *@

			}



		</tbody>

	</table>
</div>
<div class="row">
	<a asp-controller="Home" asp-action="Index">Continue Shopping</a>
</div>

