@model IEnumerable<ASM_C__PH39133.Models.Cart_detail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carts.IdGioHang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGioHangCT">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdGioHangCT">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGioHangCT">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
